# Bài 1: Hoàn thành notebook sau

### Bước  1. Import thư viện cần thiết

In [1]:
import pandas as pd

### Bước 2. Đọc dữ data từ url, sau đó gán cho tên biến là dataframe

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

dataframe = pd.read_csv(url, sep='\t')

### Bước 3. In 10 dòng đầu tiên

In [3]:
dataframe.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Bước 4. Có bao nhiêu row?

In [4]:
dataframe.shape[0]

4622

### Bước 5. Có bao nhiêu column trong dataset này đó là những column nào?

In [5]:
print(dataframe.shape[1])
print(dataframe.columns)

5
Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Bước 6.Mặt hàng nào được bán chạy nhất?

In [6]:
max_item_name = dataframe.groupby('item_name').sum().reset_index()
max_item_name = max_item_name.sort_values('quantity', ascending = False)
max_item_name.head(1)

       item_name  order_id  quantity
17  Chicken Bowl    713926       761

### Bước 7. Có tổng cộng bao nhiêu mặt hàng được bán?

In [7]:
dataframe['item_name'].value_counts().count()

50

### Bước 8. Có bao nhiêu sản phẩm có giá trị lớn hơn $10,00

In [8]:
dataframe['item_price'] = dataframe['item_price'].str.strip('$')
dataframe['item_price'] = pd.to_numeric(dataframe['item_price'])
dataframe[dataframe['item_price'] > 10.00]

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25

### Bước 9: Xem kiểu dữ liệu của mỗi cột

In [9]:
dataframe.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

### Bước 10: Tổng lợi nhuận thu được

In [10]:
print('Tổng lợi nhuận thu được:{} $'.format((dataframe['item_price']* dataframe['quantity']).sum()))

Tổng lợi nhuận thu được:39237.02 $